.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: white;
  }
  
  .hello-text {
    font-size: 3rem;
    opacity: 1;
    transition: opacity 2s ease;
  }
  
  .hello-text.fade-out {
    opacity: 0;
  }
  